@tailwind base;

/*//////////////////////////////////////////////////////////////////////////////////////////
// Base styles
//////////////////////////////////////////////////////////////////////////////////////////*/

/*::selection {*/
/*  @apply bg-devConceptsBlue-500 bg-opacity-50;*/
/*}*/

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* no blue flashes */
}

body {
  @apply font-devConcepts text-base font-normal text-devConceptsWhite p-0 ml-0 mr-0 mt-0 mb-0;
  letter-spacing: -0.1px;
  /* Reference for line-height: https://dev.to/lampewebdev/css-line-height-jjp */
  line-height: 1.5;

  background: linear-gradient(90deg, #263545 0%, #4a6887 100%); /* blue-700 to blue-500 */
  /*background-image: url('../images/bg-hexagon.jpg');*/
}

@screen sm {
  body {
    @apply ml-5 mr-5;
  }
}

@screen md {
  body {
    @apply ml-32 mr-32;
  }
}

@screen lg {
  body {
    @apply ml-48 mr-48;
  }
}

@screen xl {
  body {
    @apply ml-64 mr-64;
  }
}

html,
body {
  @apply h-full min-h-full;
}

h1 {
  @apply text-devConceptsGray-100 text-3xl font-bold tracking-normal;
  line-height: 44px;
  padding: 2px 0;
}

h2 {
  @apply text-devConceptsGray-100 text-2xl font-bold tracking-normal;
  line-height: 30px;
  padding: 9px 0;
}

h3 {
  @apply text-devConceptsGray-100 text-2xl font-semibold;
  line-height: 30px;
  padding: 9px 0;
  letter-spacing: -0.5px;
}

h4 {
  @apply text-devConceptsGray-100 text-xs font-bold;
  line-height: 20px;
  padding: 14px 0;
  letter-spacing: -0.17px;
  text-transform: uppercase;
}

h5 {
  @apply text-devConceptsGray-100 text-base font-medium;
}

.anchor .before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  padding-right: 0.5rem;
}

.anchor .after {
  @apply pl-5 inline-block;
}

h1 .anchor svg,
h2 .anchor svg,
h3 .anchor svg,
h4 .anchor svg,
h5 .anchor svg,
h6 .anchor svg {
  visibility: hidden;
}

h1:hover .anchor svg,
h2:hover .anchor svg,
h3:hover .anchor svg,
h4:hover .anchor svg,
h5:hover .anchor svg,
h6:hover .anchor svg,
h1 .anchor:focus svg,
h2 .anchor:focus svg,
h3 .anchor:focus svg,
h4 .anchor:focus svg,
h5 .anchor:focus svg,
h6 .anchor:focus svg {
  visibility: visible;
}

.link:hover {
  @apply text-devConceptsPink-400 underline;
}

/*/////////////////////////////////////////////////////////////////////////////////////////*/

@tailwind components;
@tailwind utilities;
