@tailwind base;

/*//////////////////////////////////////////////////////////////////////////////////////////
// Base styles
//////////////////////////////////////////////////////////////////////////////////////////*/

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* no blue flashes */
}

body {
  @apply font-devConcepts text-base font-normal text-devConceptsWhite m-0 p-0 bg-devConceptsBlue-300;
  letter-spacing: -0.1px;
  /*/ Standard line height */
  /*/ Reference for line-height: https://dev.to/lampewebdev/css-line-height-jjp */
  line-height: 1.5;
}

html,
body {
  @apply w-full h-full min-w-full min-h-full block overflow-hidden;
}

h1 {
  @apply bg-red-700;
}

/*/////////////////////////////////////////////////////////////////////////////////////////*/

@tailwind components;
@tailwind utilities;
